.bottom{position: fixed; bottom: 0px; left:0px; width: 100%; line-height: 15px;}
.bottom ul{display: flex; background-color: #efefef; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: center; height: 60px; border-top: 1px solid #000}
.bottom a{text-decoration: none; color: #000;}
.bottom ul > li{text-align: center; font-size: 13px;}